:root {
  --main-bg-colour: #222;
  --main-fg-colour: #ddd;
}

th, td {
  	padding-right: 2em;
}
	
a {
	color:			#66f;
}

a:hover {
	color:			#a0f;
}

.pure-menu-heading {
	text-transform: none;
}

footer > p {
	text-align: 	center;
	font-size:		small;
}
