:root {
  --main-bg-colour: #222;
  --main-fg-colour: #ddd;
}

th, td {
  	padding-right: 2em;
}
	
a {
	color:			#66f;
}

a:hover {
	color:			#a0f;
}

.pure-menu-heading {
	text-transform: none;
}

footer > p {
	text-align: 	center;
	font-size:		small;
}

ul.posts > li > span {
    float: left;
    clear: left;
    width: 14ex;
    font-family: monospace;
    font-size: large;
}

ul.posts {
    list-style-type: none;
}
